@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&family=Source+Sans+Pro:wght@900&display=swap");

* {
  margin: 0;
  text-decoration: none;
}

html,
body {
  height: 100vh;
  display: grid;
  place-items: center;
  background-color: black;
}

.page-wrapper {
  display: grid;
  place-items: center;
  text-align: center;
}

h1 {
  color: white;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 6rem;
  letter-spacing: -0.2rem;
}

p {
  color: #6cbd70;
  font-family: "Comfortaa", cursive;
  font-size: 1.5rem;
  margin: .4rem 0;
}

.divider {
  color: white;
}

.icon {
  color: white;
  padding: 0.6rem;
  border-radius: 50%;
  width: 3rem;
  filter: invert(1);
}

.icon:hover {
  cursor: pointer;
  background-color: #93428f;
}

#avatar {
  width: 10rem;
  height: 10rem;
  position: relative;
  transition: transform .6s ease-in-out;
}



#avatar:hover {
  transform: rotate(720deg);
}


